.footer {
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer__container {
    max-width: 970px;
}

.footer__col {
    display: flex;
    align-items: center;
    flex: 1;
    /* flex-wrap: wrap; */
}

.footer__col--align-right {
    justify-content: flex-end;
}

@media (max-width: $phones) {
    .footer__container {
        flex-direction: column;
    }
    .footer__col {
        justify-content: center;
    }
}