.footer {
    background-color: black;
}

.footer__container {
    max-width: 970px;
}

.footer__col {
    display: flex;
    align-items: center;
    flex: 1;
    /* flex-wrap: wrap; */
}

.footer__col--align-right {
    justify-content: flex-end;
}