$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//fonts
@import "./fonts.scss";

//normalize
@import "./normalize.scss";

// setups
// @import "_misc/mixins";
@import "./layout.scss";


//common
// @import "blocks/common/btn.scss";

// blocks
@import "./main.scss";
// @import "blocks/hero.scss";
// @import "blocks/best.scss";
// @import "blocks/team.scss";
// @import "blocks/reviews.scss";
// @import "blocks/order.scss";